@mixin rainbow-gradient($dir: 90){
  background: $pink;
  background: linear-gradient(#{$dir}deg, $pink 0%, $purple 50%, $blue 100%);
}

@mixin tropical-gradient($dir: 90){
  background: $pink;
  background: linear-gradient(#{$dir}deg, $lime2 0%, $orange 20%, $pink 100%);
}

@mixin dark-gradient($dir: 90){
  background: $black;
  background: linear-gradient(#{$dir}deg, #000000 0%,$dark-grey 100%);
}

@mixin lime-gradient($dir: 90){
  background: $lime;
  background: linear-gradient(#{$dir}deg, $lime 0%,$lime2 100%);
}

@mixin tropical-fade($dir: 90){
  background: $lime;
  background: linear-gradient(#{$dir}deg,$lime 0%,rgba($orange,.5) 30%,rgba($pink,0) 80%);
}

@mixin header{
  font-family: 'Saira Extra Condensed', sans-serif;
  text-transform: uppercase;
  line-height: .85;
  font-weight: 700;
}

@mixin cover{
  position: absolute;
  top:0px;
  left:0px;
  bottom:0px;
  right:0px;
}
