@mixin rainbow-gradient($dir: 90){
  background: $pink;
  background: linear-gradient(#{$dir}deg, $pink 0%, $purple 50%, $blue 100%);
}

@mixin tropical-gradient($dir: 90){
  background: $pink;
  background: linear-gradient(#{$dir}deg, $pink 0%, $orange 80%, $lime2 100%);
}

@mixin dark-gradient($dir: 90){
  background: $black;
  background: linear-gradient(#{$dir}deg, #000000 0%,$dark-grey 100%);
}

@mixin lime-gradient($dir: 90){
  background: $lime;
  background: linear-gradient(#{$dir}deg, $lime 0%,$lime2 100%);
}

@mixin tropical-fade($dir: 90){
  background: $lime;
  background: linear-gradient(#{$dir}deg,$pink 0%,rgba($orange,.5) 50%,rgba($lime,0) 80%);
}

@mixin header{
  font-family: 'Saira', sans-serif;
  text-transform: uppercase;
  line-height: .85;
  font-weight: 600;
  font-variation-settings: "wdth" 56,"wght" 600;
}

@mixin cover{
  position: absolute;
  top:0px;
  left:0px;
  bottom:0px;
  right:0px;
}
