// colors
$light-grey: #f7f7f9;
$dark-grey: #282833;
$pink: #ff0093;
$purple: #5600f7;
$blue: #00aeef;
$orange: #fe692c;
$lime: #e4fe57;
$lime2: #c2fa45;
$black: #0a0a0e;

// new
$small: 500px;
$medium: 650px;
$huge: 1150px;
$s-nav: 75px;
$m-nav: 12rem;
$h-nav: 13rem;
$s-margin: 5vw;
$m-margin: 8vw;
$h-margin: 10vw;
$s-space: 22vw;
$m-space: 8rem;
$ease: cubic-bezier(0.645, 0.045, 0.355, 1.000);

:export {
  lightGrey: $light-grey;
  darkGrey: $dark-grey;
  pink: $pink;
  purple: $purple;
  blue: $blue;
  orange: $orange;
  lime: $lime;
  lime2: $lime2;
  black: $black;
  small: $small;
  medium: $medium;
  huge: $huge;
}
