html{
  background: linear-gradient(90deg, lighten($blue,51%) 0%, lighten($pink,48%) 100%);
  background-repeat: no-repeat;
  fill: $black;
  color: $black;
}

main{
  min-height: 100vh;
}

#scroller{
  width: 100vw;
  overflow: hidden;
}

.is-resizing *{
  transition: none !important;
}
