.o-container{
  padding-left: $s-margin;
  padding-right: $s-margin;
}
.o-space{
  margin-top: $s-space;
  &:first-child{
    margin-top: calc(#{$s-space} + #{$s-nav});
  }
  &:last-child{
    margin-bottom: $s-space;
  }
}
.o-space-inner{
  padding-top: $s-space;
  padding-bottom: $s-space;
}
.o-margins{
  padding-left: $s-margin;
  padding-right: $s-margin;
}

@media screen and (min-width: $medium){
  .o-container,
  .o-container-wide-small{
    margin-left: $m-nav;
    padding-left: $m-margin;
    padding-right: $m-margin;
  }
  .o-container-wide{
    padding-left: $m-nav;
  }
  .o-space{
    margin-top: $m-space;
    &:first-child{
      margin-top: $m-space;
    }
    &:last-child{
      margin-bottom: $m-space;
    }
  }
  .o-space-inner{
    padding-top: $m-space;
    padding-bottom: $m-space;
  }
  .o-margins{
    padding-left: $m-margin;
    padding-right: $m-margin;
  }
}

@media screen and (min-width: $huge){
  .o-container,
  .o-container-wide-small{
    padding-left: $h-margin;
    padding-right: $h-margin;
  }

  .o-space-inner{
    padding-top: $m-space;
    padding-bottom: $m-space;
  }
  .o-margins{
    padding-left: $h-margin;
    padding-right: $h-margin;
  }
}
