html{
  font-size: calc(10px + 100vw / 150)
}

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
}

.t-header{
  font-family: 'Saira Extra Condensed', sans-serif;
  text-transform: uppercase;
  line-height: .85;
  font-weight: 700;
}

.t-body{
  font-family: 'Open Sans', sans-serif;
}

.t-headline{
  font-size: 25px;
  margin-bottom: 50px;
}

@media screen and (min-width: $medium){

  body{
    font-size: 15px
  }

  .t-headline{
    font-size: 40px;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: $huge){

  body{
    font-size: 16px;
  }

}
