html{
  font-size: calc(10px + 100vw / 150)
}

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 4vw;
  line-height: 1.5;
  font-weight: 400;
}

.t-header{
  font-family: 'Saira Extra Condensed', sans-serif;
  text-transform: uppercase;
  line-height: .85;
  font-weight: 700;
}

.t-body{
  font-family: 'Open Sans', sans-serif;
}

.t-headline{
  font-size: 6vw;
  margin-bottom: 7vw;
}

@media screen and (min-width: $medium){

  body{
    font-size: 1.25rem;
  }

  .t-headline{
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: $huge){

  body{
    font-size: 1rem;
  }

}
