.u-gap-btm-sm{
  margin-bottom: 2rem;
}
.u-gap-btm-rg{
  margin-bottom: 5rem;
}
.u-gap-btm-lg{
  margin-bottom: 7rem;
}
.u-gap-top-sm{
  margin-top: 2rem;
}
.u-gap-top-rg{
  margin-top: 5rem;
}
.u-gap-top-lg{
  margin-top: 7rem;
}
