.u-hide-scrollbars::-webkit-scrollbar {
  display: none;
}

.u-hide-scrollbars {
  -ms-overflow-style: none;
  scrollbar-width: none;
  scrollbar-height: none;
}

.u-space-top{
  margin-top: 10vw;
}

@media screen and (min-width: $medium){

  .u-space-top{
    margin-top: 3rem;
  }

}
