.u-flex{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.u-flex-center{

}

.u-center-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.u-center-col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.u-hide-scroll::-webkit-scrollbar {
  display: none;
}

.u-hide-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
  scrollbar-height: none;
}

.u-cover-container{
  position: relative;
}
.u-cover{
  position: absolute;
  top:0px;
  left:0px;
  bottom:0px;
  right:0px;
}

.u-hide-scroll::-webkit-scrollbar {
  display: none;
}

.u-hide-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
  scrollbar-height: none;
}

.u-shadow-y{
  box-shadow: 0px 2px 5px rgba($blue,.2);
}
.u-shadow-x{
  box-shadow: 2px 0px 5px rgba($blue,.2);
}
.u-shadow--hover .u-shadow-x,
.u-shadow--hover .u-shadow-y,
.u-shadow--hover.u-shadow-x,
.u-shadow--hover.u-shadow-y{
  transition-property: box-shadow;
  transition-duration: .25s;
}

.u-shadow--hover:hover .u-shadow-x,
.u-shadow--hover.u-shadow-x:hover,
.is-desktop .u-shadow--hover:focus .u-shadow-x,
.is-desktop .u-shadow--hover.u-shadow-x:focus{
  box-shadow: 5px 0px 10px rgba($blue,.3);
}

.u-shadow--hover:hover .u-shadow-y,
.u-shadow--hover.u-shadow-y:hover,
.is-desktop .u-shadow--hover:focus .u-shadow-y,
.is-desktop .u-shadow--hover.u-shadow-y:focus{
  box-shadow: 0px 5px 10px rgba($blue,.3);
}

$spaces:(
  xxs: .25rem,
  xs: .5rem,
  sm: 1rem,
  md: 1.5rem,
  lg: 2rem,
  xl: 3rem,
  xxl: 5rem
);

$breakpoints:(
  null: 0,
  sm: $screen-sm,
  md: $screen-md,
  lg: $screen-lg
);

@mixin map-flex($mod:""){

  .u-frc#{$mod},
  .u-fr#{$mod}{
    display: flex;
    flex-direction: row;
  }
  .u-frr#{$mod}{
    display: flex;
    flex-direction: row-reverse;
  }
  .u-fcc#{$mod},
  .u-fc#{$mod}{
    display: flex;
    flex-direction: column;
  }
  .u-fcr#{$mod}{
    display: flex;
    flex-direction: column-reverse;
  }
  .u-frc#{$mod},
  .u-fcc#{$mod},
  .u-fjc#{$mod}{
    justify-content: center;
  }
  .u-fjs#{$mod}{
    justify-content: flex-start;
  }
  .u-fje#{$mod}{
    justify-content: flex-end;
  }
  .u-fja#{$mod}{
    justify-content: space-around;
  }
  .u-fjb#{$mod}{
    justify-content: space-between;
  }
  .u-frc#{$mod},
  .u-fcc#{$mod},
  .u-fac#{$mod}{
    align-items: center;
  }
  .u-fas#{$mod}{
    align-items: flex-start;
  }
  .u-fae#{$mod}{
    align-items: flex-end;
  }
  .u-fast#{$mod}{
    align-items: stretch;
  }
  .u-fab#{$mod}{
    align-items: baseline;
  }
}

@mixin map-margins($mod:""){
  @each $s-name,$s-size in $spaces{
    .u-my-#{$s-name}#{$mod},
    .u-mt-#{$s-name}#{$mod}{
      margin-top:$s-size;
    }
    .u-my-#{$s-name}#{$mod},
    .u-mb-#{$s-name}#{$mod}{
      margin-bottom:$s-size;
    }
    .u-mx-#{$s-name}#{$mod},
    .u-ml-#{$s-name}#{$mod}{
      margin-left:$s-size;
    }
    .u-mx-#{$s-name}#{$mod},
    .u-mr-#{$s-name}#{$mod}{
      margin-right:$s-size;
    }
  }
}

@mixin map-padding($mod:""){
  @each $s-name,$s-size in $spaces{

    .u-p-#{$s-name}#{$mod},
    .u-py-#{$s-name}#{$mod},
    .u-pt-#{$s-name}#{$mod}{
      padding-top: $s-size;
    }
    .u-p-#{$s-name}#{$mod},
    .u-py-#{$s-name}#{$mod},
    .u-pb-#{$s-name}#{$mod}{
      padding-bottom: $s-size;
    }
    .u-p-#{$s-name}#{$mod},
    .u-px-#{$s-name}#{$mod},
    .u-pl-#{$s-name}#{$mod}{
      padding-left: $s-size;
    }
    .u-p-#{$s-name}#{$mod},
    .u-px-#{$s-name}#{$mod},
    .u-pr-#{$s-name}#{$mod}{
      padding-right: $s-size;
    }
  };
};

@each $name, $width in $breakpoints {
  @if $name == null {
    @include map-padding()
    @include map-margins()
    @include map-flex()
  }
  @else {
    @media(min-width: $width) {
      @include map-padding('--#{$name}')
      @include map-margins('--#{$name}')
      @include map-flex('--#{$name}')
    }
  }
}
