$light-grey:#F7F7F9;
$pink:#DD0D85;
$violet: #4A5CE9;
$blue:#00AEEF;
$lime: #E4FE57;
$black:#0A0A0E;
$max:1000px;
$menu-width:16.666vw;
$mobile-menu-width: 60px;
$y: 7.5rem;
$yhalf:3.75rem;
$ydouble:15rem;
$x: 5rem;
$xhalf:1.5rem;
$xdouble:6rem;
$xMargin: calc((100vw - #{$max}) / 2);
$mobile: 700px;

:export{
  lightGrey: $light-grey;
  pink: $pink;
  violet: $violet;
  lime: $lime;
  black: $black;
  max: $max;
  menuWidth: $menu-width;
  y: $y;
  yHalf: $yhalf;
  yDouble: $ydouble;
  x: $x;
  xHalf:$xhalf;
  xDouble: $xdouble;
  xMargin: $xMargin;
}
