html{
  background: $light-grey;
  fill: $black;
  color: $black;
}

.page--margin{
  padding-left: $menu-width;
}

.page--content{
  min-height: 100vh;
}


.block{
  padding-top:7.5rem;
  padding-bottom:7.5rem;
  max-width: 80%;
}

.block.block--fullwidth{
  max-width: none;
}

.block:first-child{
  padding-top: 15rem;
}

.block:last-child{
  padding-bottom: 15rem;
}

.block.block--no-top{
  padding-top:0px;
}
.block.block--no-bottom{
  padding-bottom:0px;
}
