html{
  background: $light-grey;
  fill: $black;
  color: $black;
}

#scroller{
  width: 100vw;
  overflow: hidden;
}


.page-margins,
.page-margin--left{
  padding-left: $menu-width;
}

.page-margins,
.page-margin--right{
  padding-right: $menu-width;
}

.page--content{
  min-height: 100vh;
}


.block{
  padding-top:7.5rem;
  padding-bottom:7.5rem;
}

.block:first-child{
  padding-top: 15rem;
}

.block:last-child{
  padding-bottom: 15rem;
}

.block.block--no-top{
  padding-top:0px;
}
.block.block--no-bottom{
  padding-bottom:0px;
}

@media screen and (max-width: $mobile){

  .page-margins,
  .page-margin--left{
    padding-left: $mobile-menu-width;
  }
  .page-margins,
  .page-margin--right{
    padding-right: 15px;
  }
}
