html{
  font-size: 14px;
}

.gutter-left {
  padding-left: 5vw;
}
.gutter-right {
  padding-right: 5vw;
}

input,
textarea,
select{
  display: block;
  font-size: 1.6rem;
  padding: .75rem  1.25rem;
  border-radius: .25rem;
  box-shadow: 0px 1px 3px rgba(theme('colors.bluergb'),.3);
  border: 1px solid rgba(theme('colors.bluergb'),.2);
  width:100%;
  margin: 0px;
  font-size: 1rem;
  line-height: 1;
}

.error input,
.error textarea,
.error select{
  border: 1px solid theme('colors.pink');
  box-shadow: 0px 1px 3px rgba(theme('colors.pinkrgb'),.3);
}

.error label{
  color: theme('colors.pink')
}

.button{
  white-space: nowrap;
  cursor: pointer;
  padding: 1rem 1.5rem;
  display: inline-block;
  border-radius: .25rem;
  width: auto;
  font-weight: bold;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@media screen and (min-width: theme("screens.sm")) {
  .gutter-left {
    padding-left: calc((100vw - (theme("screens.sm") - 50px)) / 2);
  }
  .gutter-right {
    padding-right: calc((100vw - (theme("screens.sm") - 50px)) / 2);
  }
}
@media screen and (min-width: theme("screens.md")) {

  html{
    font-size: 16px;
  }

  .gutter-left {
    padding-left: calc((100vw - (theme("screens.md") - 250px)) / 5);
  }
  .gutter-right {
    padding-right: calc((100vw - (theme("screens.md") - 250px)) / 5);
  }
}

@keyframes animate-scroll-left {
  0%{transform: translateX(0px)}
  100%{transform: translateX(-100%)}
}

@keyframes spin{
  0%{transform: rotate(0deg)}
  50%{transform: rotate(180deg)}
  100%{transform: rotate(360deg)}
}
