html{
  font-size: theme('fontSize.mobile')
}

body{
  font-size: 1.2rem;
  background-color: rgba(theme('colors.bluergb'),.04);
  background-size: 30px 30px;
  background-position: top left;
  background-repeat: repeat;
}

main{
  min-height: 600px;
}

#site{
  width: 100vw;
  overflow: hidden;
}

.graphic-box{
  box-shadow: 5px 5px 0px theme('colors.black');
  border: 1px solid theme('colors.black');
}

.gutter-left {
  padding-left: 5vw;
}
.gutter-right {
  padding-right: 5vw;
}

.button,
.button-wrapper button{
  white-space: nowrap;
  cursor: pointer;
  padding: 1rem 1.5rem;
  display: inline-block;
  border-radius: .25rem;
  width: auto;
  font-weight: bold;
  transition: transform .2s, box-shadow .2s;
  transform: scale(1.0001);
  box-shadow: 5px 5px 0px theme('colors.black');
  outline: 1px solid theme('colors.black');
}

.button:active,
.button-wrapper button:active{
  transform: scale(.95);
  box-shadow: 2px 2px 0px theme('colors.black');
}

.button.button-pink,
.button-wrapper.button-pink button{
  background: theme('colors.pink');
  color: white;
}

.button.button-wide,
.button-wrapper.button-wide button{
  padding-left: 5rem;
  padding-right: 5rem;
}

.button.button-disabled,
.button-wrapper.button-disabled button{
  pointer-events: none;
  background: theme('colors.black');
  position: relative;
}

.button.button-disabled::after,
.button-wrapper.button-disabled button::after{
  content:'';
  position: absolute;
  top: 0px;
  left:0px;
  right:0px;
  bottom:0px;
  background: white;
  opacity: .6;
}


.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@media screen and (min-width: theme("screens.sm")) {
  .gutter-left {
    padding-left: calc((100vw - (theme("screens.sm") - 50px)) / 2);
  }
  .gutter-right {
    padding-right: calc((100vw - (theme("screens.sm") - 50px)) / 2);
  }
}
@media screen and (min-width: theme("screens.md")) {

  html{
    font-size: theme('fontSize.desktop')
  }

  body{
    font-size: 1rem;
  }

  .gutter-left {
    padding-left: calc((100vw - (theme("screens.md") - 250px)) / 5);
  }
  .gutter-right {
    padding-right: calc((100vw - (theme("screens.md") - 250px)) / 5);
  }
}

@keyframes animate-scroll-left {
  0%{transform: translateX(0px)}
  100%{transform: translateX(-100%)}
}

@keyframes spin{
  0%{transform: rotate(0deg)}
  50%{transform: rotate(180deg)}
  100%{transform: rotate(360deg)}
}
