html{
  font-family: 'Open Sans', sans-serif;
  font-size: calc(6px + 100vw / 300);
}

body{
  font-size: 1.25rem;
}

.fnt--header{
  font-family: 'Saira', sans-serif;
  font-style: normal;
  line-height: initial;
  font-variation-settings: "wght" 500;
}

.title--sm{
  font-size: 2rem;
  line-height: 1.4;
  font-weight: 400;
  font-variation-settings: "wght" 400;
}
